.header {
  position: absolute;
  padding: 20px 15px 0;
  width: $mobile-min-width;

  @media (min-width: $tablet-min-width) {
    padding: 30px 45px 0;
    width: $tablet-min-width;
  }

  @media (min-width: $tablet-max-width) {
    padding: 30px 100px 0;
    width: $tablet-max-width;
  }
}

.header__wrapper {
  position: relative;
}

.header__image {
  width: 52px;
  height: 52px;
  position: relative;
  z-index: 5;
  padding-top: 1px;

  @media (min-width: $tablet-min-width) {
    padding-top: 2px;
  }
}
