// Font //

$primary-font: "Manrope", "Arial", sans-serif;


// Colors //

$color-text: #484848;
$color-light: #ffffff;
$color-beige: #f0efe9;
$color-primary:  #316dc2;
$color-disabled: #a9afb7;
$color-error: #ff5e66;
$color-active: #275699;;

// Overlay - colors //

$dark-overlay: rgba(13, 29, 51, 0.4);
$blue-overlay: rgba(49, 109, 194, 0.2);

// Sizes, breack-points //

$tablet-min-width: 768px;
$tablet-max-width: 1365px;
$desktop-max-width: 1366px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;